###   Kaggle Twitter NLP Problem: https://www.kaggle.com/competitions/nlp-getting-started/data
#### Reading Data Set

In [6]:
import sys

print("Python Version:", sys.version)
print("Python Executable:", sys.executable)

Python Version: 3.12.2 (v3.12.2:6abddd9f6a, Feb  6 2024, 17:02:06) [Clang 13.0.0 (clang-1300.0.29.30)]
Python Executable: /Users/felipe_q/Desktop/Kaggle/nlp_getting_started/venv_nlp_twitter/bin/python

In [5]:
import pandas as pd 
import numpy as np
import re
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords as nltk_stopwords
import nltk
#import ssl
from bertopic import BERTopic

'''
try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download()
'''

ModuleNotFoundError: No module named 'bertopic'

In [2]:
data_train = pd.read_csv('/Users/felipe_q/Desktop/Kaggle/nlp_getting_started/NLP_kaggle_twitter/train.csv')
data_test = pd.read_csv('/Users/felipe_q/Desktop/Kaggle/nlp_getting_started/NLP_kaggle_twitter/test.csv')

In [3]:
data_train

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

Note: In this case it is a good idea to understand why we have nan values for the data set. If it makes sense to you, you can just replace them with another value that you feel will cover this nan value

In [4]:
data_train.isna().sum()/len(data_train)

id          0.000000
keyword     0.008013
location    0.332720
text        0.000000
target      0.000000
dtype: float64

In [12]:
#### Cleaning NaN values
def cleaning_nan_values(df, columns_clean):

    for column in columns_clean:
        df[column] = np.where(df[column].isna(), 'other', df[column])
    
    return df

datatrainmod = cleaning_nan_values(data_train,['keyword', 'location'])

In [13]:
datatrainmod

,id,keyword,location,text,target
0,1,other,other,Our Deeds are the Reason of this #earthquake M...,1
1,4,other,other,Forest fire near La Ronge Sask. Canada,1
2,5,other,other,All residents asked to 'shelter in place' are ...,1
3,6,other,other,"13,000 people receive #wildfires evacuation or...",1
4,7,other,other,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,other,other,Two giant cranes holding a bridge collapse int...,1
7609,10870,other,other,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,other,other,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,other,other,Police investigating after an e-bike collided ...,1
7612,10873,other,other,The Latest: More Homes Razed by Northern Calif...,1

In [14]:
#### Cleaning special characters of texts.

def clean_all_text(df,columns):

    cleaned_df = df.copy()
    for column in columns:
        cleaned_df[column] = cleaned_df[column].apply(clean_text)
    return cleaned_df
    
def clean_text(text):
    
    text = text.lower()
    cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    return cleaned_text

datatrainmod = clean_all_text(datatrainmod, ['keyword', 'location', 'text'])

In [15]:
#### Clean text stopwords and bag of words

def clean_stopwords(df,columns):
    
    stopwords = set(nltk_stopwords.words('english'))
    
    for column in columns:
        df[column] = df[column].apply(lambda x:' '.join([word for word in word_tokenize(x) if word not in stopwords]))

    return df

datatrainmod = clean_stopwords(datatrainmod, ['text'])

#### Running Bertopic Model

In [17]:

model = BERTopic()

ModuleNotFoundError: No module named 'bertopic'